.slider-wrapper{
  display: inline-flex;
  width: 100%;
  position: relative; 
  align-items: center;
  overflow: hidden;

  .arrow{
    cursor: pointer;
    position: absolute;
  }

  .l-arrow{
    z-index: 99;
    left: 0;
  }

  .r-arrow{
    z-index: 99;
    right: 0;
  }

  .slider-container{
    position: relative;
    display: flex;
    align-items: center;
    overflow: visible;
    transition: all 0.25s;
    flex-wrap: nowrap;
    ::-webkit-scrollbar {
      width: 0px; /* remove scrollbar space */
      background: transparent; /* optional: just make scrollbar invisible */
    }
  }
}