.fab-outer{
  position: fixed;
  width: 100%;
  max-width: 324px;
  min-height: 340px;
  right: 10%;
  bottom: 10%;
  background: $yellowFederal;
  z-index: 100;
  border-radius: 12px;
  overflow: hidden;

  .fab-header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 92px;
    background: $redKaraoke;
    border-radius: 12px 12px 30px 30px;
    display: flex;
    justify-content: space-between;
    padding: 18px 24px;

    .fab-header-title{
      display: flex;
      color: #ffffff;
      font-size: 18px;

      .fab-header-icon{
        margin-right: 8px;
      }
    }
  }
  .fab-body{
    position: relative;
    z-index: 101;
    top: 72px;
    display: flex;
    min-width: 100%;
    padding: 0px 24px 18px;

    .fab-writer{
      width: 100%;

      form{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      form input, textarea{
        width: 100%;
        padding: 6px 8px;
        margin-bottom: 12px;
        border-radius: 4px;
        border: none;
      }

      form textarea{
        height: 144px;
      }

      form .send-btn{
        max-width: 124px;
        background: $blueRomance;
        transition: all 0.25s;

        &:hover{
          background: $blueDark;
        }
      }
    }
  }
}