.fab-outer{
  position: fixed;
  width: 100%;
  max-width: 324px;
  min-height: 340px;
  right: 10%;
  bottom: 10%;
  background: $yellowAbsSmooth;
  z-index: 9;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.25s;

  @media (max-width:424px) {
    right: 0;
    max-width: 320px;
  }

  &.hide-outer{
    max-width: 64px;
    max-height: 64px;
    min-height: 64px;
    padding: 0;
    background: none;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.26);
    border-radius: 34px 34px 8px 34px;

    .fab-header{
      transition: ease-out 0.01s;
      .fab-header-title{
        strong{
          display: none;
        }
      }
      .fab-close{
        display: none;
      }
    }
    
    .fab-body{
      display: none;
    }
  }

  .fab-header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 92px;
    background: $redKaraoke;
    border-radius: 12px 12px 30px 30px;
    display: flex;
    justify-content: space-between;
    padding: 18px 24px;

    .fab-header-title{
      display: flex;
      color: #ffffff;
      font-size: 18px;

      .fab-header-icon{
        margin-right: 8px;

        &.fab-active{
          background: $redKaraoke;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 64px;
          height: 64px;
          position: absolute;
          top: 0;
          left: 0;
          cursor: pointer;
          transition: all 0.25s;

          &:hover{
            background: $redRadical;
          }
        }
      }
    }
  }
  .fab-body{
    position: relative;
    z-index: 101;
    top: 72px;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    transition: all 0.2s;
    padding: 0px 24px 18px;

    .fab-writer{
      width: 100%;
      overflow: hidden;
      height: 0;

      &.active{
        height: 100%;
        overflow: visible;
        
      }

      form{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      form input, textarea{
        width: 100%;
        padding: 6px 8px;
        margin-bottom: 12px;
        border-radius: 4px;
        border: none;
      }

      form textarea{
        height: 144px;
      }

      form .send-btn{
        max-width: 124px;
        background: $blueRomance;
        transition: all 0.25s;

        &:hover{
          background: $blueDark;
        }
      }
    }

    .fab-success{
      position: relative;
      width: 100%;
      background: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      overflow: hidden;
      height: 0;

      &.active{
        overflow: visible;
        min-height: 240px;

        .fab-success-icon{
          margin-bottom: 12px;
        }
      }

      
    }
  }
}