@import './themes.scss';

@import './components/navbar/Navbar.scss';

html{


  body{
    background: $yellowSmooth;
    font-family: 'Amatic SC', Helvetica, sans-serif;
    color: $darkCalm;

    .main-container{
      max-width: 736px;
      width: 100%;
      margin: 0 auto;

    }
  } 
}